<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ouchadam.shortstraw"
  android:versionCode="1"
  android:versionName="0.1-SNAPSHOT">

  <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="17" />
  <uses-permission android:name="android.permission.NFC" />
  <uses-feature
    android:name="android.hardware.nfc"
    android:required="true" />

  <application
    android:icon="@drawable/app_launcher"
    android:label="@string/app_name"
    android:theme="@android:style/Theme.Holo.Light">

    <activity android:name=".activity.StrawSetupActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".activity.StrawDistributorActivity"
      android:screenOrientation="portrait"/>

    <activity android:name=".activity.StrawClientActivity">
      <intent-filter>
        <action android:name="android.nfc.action.NDEF_DISCOVERED" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/vnd.com.example.android.beam" />
      </intent-filter>
    </activity>

  </application>

</manifest>

